TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=
TELEGRAM_PASSWORD=
TELEGRAM_CHATS=

VITE_LLM_PROVIDER=<ollama | openai | anthropic | google | grok>
VITE_LLM_MODEL=<model name>
VITE_LLM_API_KEY=<api key, or base url of the ollama service if using ollama>
